@import "tailwindcss";

html,
body {
  background-color: #05070f;
  font-family: "Quicksand", ui-sans-serif, system-ui, sans-serif;
}

.font-display {
  font-family: "Cinzel", serif;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0b1029;
}
::-webkit-scrollbar-thumb {
  background: #4338ca;
  border-radius: 999px;
}

